*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.home-faq a span{
    text-decoration: none;
    color: black;
}

.faq-body{
    height: auto;
    margin-bottom: 60px;
}
.faq-top{
    padding: 60px 20px;
    padding-top: 120px;
    width: auto;
    background: linear-gradient(135deg, #f3f6fb, #e6effc);
    text-align: center;
}
.home-faq{
    padding-top: 8px;
    text-align: center;
}
.faq{
    font-size: 30px;
    font-weight:600;
}
.faq-body h3{
    padding-top: 70px;
    padding-bottom: 70px;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
}

.faq-container {
    max-width: 1300px;
    padding-bottom: 20px;
    margin: 0 auto;
    background-color: white;
    border-radius: 10px;
}

.faq-container h1 {
    text-align: center;
    margin-bottom: 30px;
    color: #333;
}

.faq-item {
    margin-bottom: 20px;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    overflow: hidden;
    transition: all 0.3s ease;
}

.faq-item.active {
     box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    border-color: #4a6bff;
}

.faq-question {
    padding-left: 20px;
    height: 90px;
    background-color: #fff;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.faq-question h3 {
    margin: 0;
    font-size: 18px;
    color: #333;
    font-weight: 600;
}

.faq-question i {
    font-size: 16px;
    transition: transform 0.3s ease;
    margin-right: 20px;
}

.faq-item.active .faq-question i {
    transform: rotate(180deg);
}

.faq-answer {
    padding: 0 20px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease, padding 0.3s ease;
    background-color: #f9f9f9;
}

.faq-item.active .faq-answer {
    padding: 20px;
    max-height: 300px;
}

.faq-answer p {
    color: #555;
    line-height: 1.6;
}

@media (max-width: 600px) {
    .faq-container {
        padding: 20px 15px;
    }
    
    .faq-question h3 {
        font-size: 16px;
    }
    
    .faq-answer p {
        font-size: 14px;
    }
}